<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<script>
import defaultLayout from './layouts/Default.vue';

export default {
  name: 'App',
  computed: {
    layout() {
      return (this.$route.meta.layout || defaultLayout);
    },
  },
};
</script>
