<template>
  <v-layout justify-center>
    <v-flex
      xs12
      sm6
      offset-sm3
      mt-4>
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{ book.title }}</h3>
          </div>
        </v-card-title>

        <v-card-text>
          {{ book.description }}
        </v-card-text>

        <v-card-actions v-if="isLoggedIn">
          <v-btn
            :to="{name: 'book-edit', params: {id: book.id}}"
            flat
            color="blue">Modify</v-btn>
          <v-btn
            flat
            color="red"
            @click="deleteItem(book)">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    book: {
      id: 0,
      title: '',
      description: '',
    },
  }),

  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      const self = this;
      const id = self.$route.params.id;
      axios
        .get('/api/books/' + id)
        .then(function(resp) {
          self.book = resp.data;
        })
        .catch(function(err) {});
    },

    deleteItem(item) {
      const self = this;

      confirm('Are you sure you want to delete this book?') &&
        axios
          .delete('/api/books/' + self.book.id)
          .then(function(resp) {
            self.$router.push({name: 'books'});
          })
          .catch(function(resp) {});
    },
  },
};
</script>
