<template>
  <div>
    <v-toolbar
      flat
      color="white">
      <v-toolbar-title>Books</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical/>
      <v-spacer/>
      <v-btn
        :to="{name: 'book-create'}"
        color="primary"
        dark
        class="mb-2">New book</v-btn>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="books"
      class="elevation-1">
      <template v-slot:items="props">
        <td>{{ props.item.title }}</td>
        <td class="text-xs-right">{{ props.item.description.substring(0,200)+"..." }}</td>
        <td class="justify-center layout px-0">
          <router-link :to="{name: 'book', params: {id: props.item.id}}">
            <v-icon
              small
              class="mr-2">
              library_books
            </v-icon>
          </router-link>
          <div v-if="isLoggedIn">
            <router-link :to="{name: 'book-edit', params: {id: props.item.id}}">
              <v-icon
                small
                class="mr-2">
                edit
              </v-icon>
            </router-link>
            <v-icon
              small
              @click="deleteItem(props.item)">
              delete
            </v-icon>
          </div>
        </td>
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {text: 'Name', align: 'left', value: 'title'},
      {text: 'Description', value: 'description', sortable: false},
      {text: 'Actions', value: 'name', sortable: false},
    ],
    books: [],
  }),

  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      const self = this;
      axios
        .get('/api/books/')
        .then(function(resp) {
          self.books = resp.data;
        })
        .catch(function(err) {});
    },

    deleteItem(item) {
      const self = this;
      const index = self.books.indexOf(item);
      confirm('Are you sure you want to delete this book?') &&
        axios
          .delete('/api/books/' + index)
          .then(function(resp) {
            self.books.splice(index, 1);
          })
          .catch(function(resp) {});
    },
  },
};
</script>
