<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation>
    <v-text-field
      v-model="book.title"
      :rules="titleRules"
      label="Title"
      required/>

    <v-textarea
      v-model="book.description"
      :rules="descriptionRules"
      label="Description:"
      required/>

    <label v-if="!bookId">PDF:
      <input
        ref="file_input"
        type="file"
        multiple
        @change="changedFiles()" >
    </label>

    <v-btn
      :disabled="!valid"
      color="success"
      @click="validate">
      Validate
    </v-btn>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    book: null,
    bookId: null,
    valid: true,
    titleRules: [(v) => !!v || 'The title is required'],
    descriptionRules: [(v) => !!v || 'The description is required'],
    book: {
      id: 0,
      title: '',
      book: '',
      files: null,
    },
    files: null,
  }),

  created() {
    this.initialize();
  },

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.save();
      }
    },
    initialize() {
      const self = this;
      self.bookId = self.$route.params.id;

      if (self.bookId) {
        axios
          .get('/api/books/' + self.bookId)
          .then(function(resp) {
            self.book = resp.data;
          })
          .catch((err) => {});
      }
    },
    changedFiles() {
      this.files = this.$refs.file_input.files;
    },
    save() {
      const self = this;

      if (self.bookId) {
        axios
          .put('/api/books/' + self.bookId, self.book)
          .then((resp) => {
            self.$router.push({name: 'books'});
          })
          .catch((err) => {});
      } else {
        if (self.files) self.book.files = self.upload();
        axios
          .post('/api/books', self.book)
          .then((resp) => {
            self.$router.push({name: 'books'});
          })
          .catch((err) => {});
      }
    },
    upload() {
      const formData = new FormData();

      for (let i = 0; i < this.files.length; i++) {
        const file = this.files[i];

        formData.append('files[' + i + ']', file);
      }

      return formData;
    },
  },
};
</script>
