<template>
  <div>
    <v-alert
      :value="error"
      type="error">
      Login failed.
    </v-alert>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation>
      <v-text-field
        v-model="email"
        :rules="emailRules"
        label="E-mail"
        required/>

      <v-text-field
        v-model="password"
        :rules="passwordRules"
        :type="'password'"
        label="Password"
        required/>

      <v-btn
        :disabled="!valid"
        color="success"
        @click="validate">
        Login
      </v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    email: '',
    password: '',
    passwordRules: [(v) => !!v || 'Password is required'],
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+/.test(v) || 'E-mail must be valid',
    ],
    error: false,
  }),

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.login(this.email, this.password);
      }
    },
    login(email, password) {
      this.$store
        .dispatch('login', {email, password})
        .then(() =>
          this.$router.push({name: 'home'}))
        .catch((err) => this.error = true);
    },
  },
};
</script>
