<template>
  <div>
    <v-alert
      :value="error"
      type="error">
      User creation failed
    </v-alert>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation>
      <v-text-field
        v-model="user.name"
        :counter="10"
        :rules="nameRules"
        label="Name"
        required/>

      <v-text-field
        v-model="user.email"
        :rules="emailRules"
        label="E-mail"
        required/>

      <v-text-field
        v-model="user.password"
        :rules="passwordRules"
        :type="'password'"
        label="Password"
        required/>

      <v-btn
        :disabled="!valid"
        color="success"
        @click="validate">
        Validate
      </v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    error: false,
    user: {
      name: '',
      email: '',
      password: '',
    },
    nameRules: [
      (v) => !!v || 'Name is required',
      (v) => (v && v.length <= 10) || 'Name must be less than 10 characters',
    ],
    passwordRules: [(v) => !!v || 'Password is required',
      (v) => (v && v.length >= 6) || 'Password must be more than 5 characters'],
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+/.test(v) || 'E-mail must be valid',
    ],
  }),

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch('register', this.user)
          .then(() => this.$router.push({name: 'home'}))
          .catch((err) => this.error = true);
      }
    },
  },
};
</script>
