<template>
  <div>
    <v-toolbar
      flat
      color="white">
      <v-toolbar-title>Users</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical/>
      <v-spacer/>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="users"
      class="elevation-1">
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.email }}</td>
        <td>{{ props.item.created_at }}</td>
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {text: 'Name', align: 'left', value: 'name'},
      {text: 'E-Mail', value: 'email', sortable: false},
      {text: 'Creation Date', value: 'created_at', sortable: false},
    ],
    users: [],
  }),

  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      const self = this;
      axios
        .get('/api/users/')
        .then(function(resp) {
          self.users = resp.data;
        })
        .catch(function(err) {});
    },
  },
};
</script>
