<template>
  <v-navigation-drawer
    v-model="drawerComputed"
    fixed
    app
  >
    <v-list dense>
      <v-list-tile :to="{ name: 'home' }">
        <v-list-tile-action>
          <v-icon>home</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Home</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile
        v-if="isLoggedIn"
        @click="logout"
      >
        <v-list-tile-action>
          <v-icon>power_settings_new</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-sub-title>
            Logout
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <div v-else>
        <v-list-tile :to="{ name: 'login' }">
          <v-list-tile-action>
            <v-icon>person</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Login</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'register' }">
          <v-list-tile-action>
            <v-icon>person</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Register</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </div>
      <v-list-group
        prepend-icon="book"
        value="true"
        no-action
      >
        <v-list-tile slot="activator">
          <v-list-tile-title>Library</v-list-tile-title>
        </v-list-tile>
        <v-list-tile :to="{ name: 'books' }">
          <v-list-tile-title>Consult all books</v-list-tile-title>
        </v-list-tile>
        <v-list-tile :to="{ name: 'users' }">
          <v-list-tile-title>Consult all users</v-list-tile-title>
        </v-list-tile>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    drawer: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  computed: {
    drawerComputed: {
      get: function() {
        return this.drawer;
      },
      set: function(drawer) {
        this.$emit('update:drawer', drawer);
      },
    },
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push({name: 'login'});
      });
    },
  },
};
</script>
