<template>
  <v-app id="inspire">
    <drawer :drawer.sync="drawer"/>
    <v-toolbar
      color="indigo"
      dark
      fixed
      app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"/>
      <v-toolbar-title>Library</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <slot/>
    </v-content>
    <custom-footer/>
  </v-app>
</template>

<script>
import Drawer from '../components/Drawer.vue';
import CustomFooter from '../components/Footer.vue';

export default {
  components: {
    Drawer,
    CustomFooter,
  },
  data: () => ({
    drawer: true,
  }),
};
</script>
